html, body {
  margin: 0;
  padding: 0;
  background: black;
}
canvas {
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    display: block;
    left: 50%;
    top: 50%;
    transform: transform: translate(-50%, -50%);
    width: 480px;
    height: 480px;
}
