html, body {
  margin: 0;
  padding: 0;
  background: black;
}
canvas {
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    display: block;
    left: calc(50vw - 240px);
    top: calc(50vh - 240px);
    width: 480px;
    height: 480px;
}
